
#cliente h1{
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  #cliente form{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px;
    border-radius: 8px;
    flex-direction: column;
    width: 500px;
    height: 350px;
    margin: 50px;
  }

.input-group{
    margin: 10px;
}
