


#index{
  background-image: url("/projetocursoredes/imgs/wififundo09.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(21, 81, 140);
  height: 873px;
  color: white;
  
}


 

  #index h1 {
    color: white;
    margin-bottom: 5%;
    text-align: center;
  }

  
  #index p {
    color: white;
  }


  #index .nav-link {
    color: white
  }

  #index  #blocos {
    display: flex;
    width: 100%;
  }

  #index .row {
    margin: none;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: initial;
  }

  #index .col {
    background-color:  rgb(21, 81, 140);

    height: 32rem;
    border: solid rgb(255, 255, 255) 0.5px;
    /* fazer a borda no formulario */
    border-radius: 5px;
    /* fazer a cantos no formulario */
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    /* fazer sonbreamento */
    justify-content: space-between;
    border-radius: 10px;
  }

  #index .col:hover {
    color: #fff;
    background-color: rgb(28, 131, 199);
  }

  #index .col-sm-6 {
    margin-top: 10%;
    width: 100%;
  }

  #index P{
    margin-top: 20px;
    margin-bottom: 10%;
    text-align: justify;
  }

  #index .container {
  padding: 6px;
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
/*   overflow: hidden;
 */  border-radius: 10px;
/*   box-shadow: 0 0 20px 0 darkgrey;
 */}

 #index  form {
  transition: .5s;
  width: 300px;
}



/* #index img{
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

#index img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
} */

#index  #drone {
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: grayscale(100%);  propriedade que deixa tudo escala cinza */



}

#index  #drone img{
  filter: brightness(50%)

}




#index  #reparo{
  background-repeat: no-repeat;
  background-size: cover;
}


#index input[type="text"], input[type="password"] {
/*   margin-top: 40px;    estava afetyando o campo senha no cadastro*/ 
/*   padding: 8px 0 8px 35px;
 */  outline: none;
  width: 100%;
}

#index button[type="submit"] {
  color: white;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0 8px 15px;
  font-size: 15px;
  cursor: pointer;
}

#index .divCheck {
  margin: 10px 0 0 5px;
  width: 80%;
  font-size: 13px;
}


#index #login{
  border: solid rgb(255, 255, 255) 0.5px;
  margin-top: 15%;
  margin-bottom: 5%;
  background-color:  rgb(21, 81, 140);

}

#index h3{
  text-align: justify;
  margin-top: 30px;
}

