#login{
    background-image: url("/projetocursoredes/imgs/login.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 873px;
}

#login form{
    border: solid black 0.5px; /* fazer a borda no formulario */
    border-radius: 10px;
    padding: 50px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: white;
    position: relative;
/*     z-index: 1;   
 */  backdrop-filter: blur(15px);
  background: rgba(255,255,255,0.2);
}

#login #InputPassword4{
    margin-top: 1px;
    padding: 1px;
}

#login.esquecisenha{
text-align: center;

}
#login #chekc{
    display: flex;
    justify-content: center;
    align-items: center;
}
#login #entrar{
    display: flex;
    justify-content: center;
    align-items:center
}

#login a{
    display: flex;
    justify-content: center;


  
}

#login h1{
    text-align: center;
    margin-bottom: 40px;
}


#login .mb-3{

position: relative;

}



#login footer {
    margin-top: 13%;
    background-color: black;
    color: white;
    text-align: center;

  }
  
 
  @media (max-width: 600px) {

    
    #login form{
    display: flex;
    width: 90%;
  }
  } 