<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brainstorming</title>

    <link rel="stylesheet" href="/css/cadastroUser.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">       
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" defer></script>
   
</head>
<body>


    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="index.html">Brainstorming</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
              <form class="d-flex" role="search">
                
                <a href=""><button type="button" class="btn btn-light">Doações</button></a>
                <a href=""><button type="button" class="btn btn-light">Login</button></a>
                <a href=""><button type="button" class="btn btn-light">Cadastro</button></a>
              </form>
            </div>
          </div>
        </nav>
      </header>


    <main>
        <img src="/imgs/internetcadastro.jpg" alt="">
    <div class="container form-container">
        <form class="w-100" id="userForm">
            <h1 class="text-center mt-5">Cadastro de Usuário</h1>

            <div class="mb-3 row">
                <div class="col-md-6">
                    <label for="inputName" class="form-label">Nome</label>
                    <input type="text" id="inputName" class="form-control" placeholder="Nome" required>
                </div>
                <div class="col-md-6">
                    <label for="inputSurname" class="form-label">Sobrenome</label>
                    <input type="text" class="form-control" id="inputSurname" placeholder="Sobrenome" required>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Digite seu email" required>
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Senha</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Senha" required>
                    </div>
                </div>
                </div>

            <div class="mb-3">
                <label for="inputAddress" class="form-label">Endereço</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Rua ou Av" required>
            </div>
            <div class="mb-3">
                <label for="inputAddress2" class="form-label">Complemento</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, casa, sítio...">
            </div>
            <div class="mb-3 row">
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Cidade</label>
                    <input type="text" class="form-control" id="inputCity" required>
                </div>
                <div class="col-md-2">
                    <label for="inputZip" class="form-label">CEP</label>
                    <input type="text" class="form-control" id="inputZip" required>
                </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label">Estado</label>
                    <select id="inputState" class="form-select" required>
                        <option selected hidden>Escolha...</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                </div>
            </div>

            <div class="mb-3 row" id="additionalFields" style="display:none;">
                <div class="col-md-6">
                    <label for="inputCPF" class="form-label">CPF</label>
                    <input type="text" class="form-control" id="inputCPF" placeholder="CPF">
                </div>
                <div class="col-md-6">
                    <label for="inputProfilePic" class="form-label">Foto do Perfil</label>
                    <input type="file" class="form-control" id="inputProfilePic">
                </div>
                <div class="col-md-6">
                    <label for="inputContact" class="form-label">Contato</label>
                    <input type="text" class="form-control" id="inputContact" placeholder="Contato">
                </div>
                <div class="col-md-6">
                    <label for="inputArea" class="form-label">Área do Fotógrafo</label>
                    <input type="text" class="form-control" id="inputArea" placeholder="Área do Fotógrafo">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
    </main>

<footer>
    BRAINSTORM 2023. TODOS OS DIREITOS RESERVADOS.
  </footer>

  
  </body>
</html>